{% include "header.html" %}

<img src="/static/images/aboutus.png" style="z-index:-2;position:absolute;width:60%;left:3%;top:10%">

<div class="h1" style="position:absolute;height:67px;left:55%;top:100px;font-size:27px;width:40%">ABOUT US</div>

<div class="h2" style="width:40%;left:55%;top:180px;font-size:17px">
    Ever dreamed of your happiest ever after? The perfect birthday that will make your child beam? With RSVP, you don’t have to wait for anyone to plan this event for you. You can turn your dream into a reality.
    <br><br>
    <b>RSVP</b> is your all-in-one event-planning platform that makes celebrating life’s significant moments a piece of (wedding) cake. On our platform, a broad selection of venues, decorating services, catering services, photography and video services, and entertainment options will let you plan your dream event within any budget. Never forget a potential service provider while deciding by saving them to your favorites. To top it off, reviews of each service provider from previous clients assures you that your event will be in good hands.
    <br><br>
    But that’s not all. RSVP also lets you easily manage the overwhelming details of planning your event through our chat function and customizable calendar.</div> 

<div class="h2" style="width:85%;left:10%;top:740px;font-size:17px">
<b>PROJECT-OR</b> is the team behind RSVP, a passionate group of young women in the undergraduate course of Bachelor of Science, Information Technology Entrepreneurship.
<br><br>
The team is composed of <b>Bervilette Tesoro, Dana Ysabel Li, Frances Therese Ong, Mary Pauline Baterna</b>, and <b>Raphaela Ko Teh</b>, and  all of which are under the guidance of our mentor and professor, <b>Mr. Joseph Benjamin Ilagan</b>.</div>

<img src="/static/images/bervilette.jpg" style="width:100px;border-radius:5px;margin-left:20%;margin-top:68%">
<img src="/static/images/dana.jpg" style="width:100px;border-radius:5px;margin-left:5%;margin-top:68%">
<img src="/static/images/ces.JPG" style="width:100px;border-radius:5px;margin-left:5%;margin-top:68%">
<img src="/static/images/polly.jpg" style="width:100px;border-radius:5px;margin-left:5%;margin-top:68%">
<img src="/static/images/rafi.jpg" style="width:100px;border-radius:5px;margin-left:5%;margin-top:68%">

{% include "footer.html" %}